.sidebar {
  background-color: rgb(255, 241, 224);
  height: 100%;
  position: absolute;
  left: 0;
}

.sidebar-content {
  color: black;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.336);
}

.btn-sidebar {
  width: 100%;
  border-radius: 0px;
  text-align: left;
  font-size: larger;
  outline: none;
  border: none;
  color: rgb(121, 45, 0);

}

.btn-sidebar:hover {
  background-color: #f7ac50;
  color: rgb(255, 255, 255);
}

.accordion {
  --bs-accordion-btn-bg: rgb(255, 241, 224);
  --bs-accordion-active-bg: rgb(255, 241, 224);
  --bs-accordion-active-color: rgb(121, 45, 0);
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: rgba(248, 212, 170, 0.74);
}

.accordion-button {
  color: rgb(121, 45, 0);
  font-size: large;
}

/* EventBar */
.card {
  --bs-card-bg: bisque;
  --bs-card-title-color: rgb(121, 45, 0);
  --bs-card-border-radius: 0;
  --bs-card-border-color: none;
}

/* Navbar */
.navbar {
  background-color: rgb(121, 45, 0);
  height: 75px;
}

.heading {
  background-color: rgb(247, 172, 80);
  color: white;
  height: 45px;
  width: 100%;
}

.table-striped {
  --bs-table-striped-bg: rgba(121, 44, 0, 0.13);
  text-align: center;
  height: 80px;
  vertical-align: middle;
}

.shadow {
  box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.075);
}
 .btn-bd-primary{
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-hover-color: rgb(121, 45, 0);
  --bs-btn-hover-bg: bisque;
  --bs-btn-bg: #792d00;
 }

 .exam-card{
 background-color: rgba(255, 228, 196, 0.11);
 border-radius: 5px;
 }
 .update{
background-color: #f7ac5056;
border: 0px;
color: rgb(121, 45, 0);
 }
 .update:hover{
  background-color: #f7ac50;
  color:white;

 }
 .delete{

 }